@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #111;
}

.dark,
.dark-theme {
    --gray-1: #111113;
    --gray-2: #19191b;
    --gray-3: #222325;
    --gray-4: #292a2e;
    --gray-5: #303136;
    --gray-6: #393a40;
    --gray-7: #46484f;
    --gray-8: #5f606a;
    --gray-9: #6c6e79;
    --gray-10: #797b86;
    --gray-11: #b2b3bd;
    --gray-12: #eeeef0;

    --gray-a1: #1111bb03;
    --gray-a2: #cbcbf90b;
    --gray-a3: #d6e2f916;
    --gray-a4: #d1d9f920;
    --gray-a5: #d7ddfd28;
    --gray-a6: #d9defc33;
    --gray-a7: #dae2fd43;
    --gray-a8: #e0e3fd60;
    --gray-a9: #e0e4fd70;
    --gray-a10: #e3e7fd7e;
    --gray-a11: #eff0feb9;
    --gray-a12: #fdfdffef;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6e79;
    --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(17.8% 0.0042 277.7);
            --gray-2: oklch(21.5% 0.004 277.7);
            --gray-3: oklch(25.5% 0.0055 277.7);
            --gray-4: oklch(28.4% 0.0075 277.7);
            --gray-5: oklch(31.4% 0.0089 277.7);
            --gray-6: oklch(35% 0.01 277.7);
            --gray-7: oklch(40.2% 0.0121 277.7);
            --gray-8: oklch(49.2% 0.0157 277.7);
            --gray-9: oklch(54% 0.0167 277.7);
            --gray-10: oklch(58.6% 0.0165 277.7);
            --gray-11: oklch(77% 0.0138 277.7);
            --gray-12: oklch(94.9% 0.0026 277.7);

            --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
            --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
            --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
            --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
            --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
            --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
            --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
            --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
            --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
            --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
            --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
            --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(54% 0.0167 277.7);
            --gray-track: oklch(54% 0.0167 277.7);
        }
    }
}

.dark,
.dark-theme {
    --orange-1: #15100d;
    --orange-2: #1d1611;
    --orange-3: #311e12;
    --orange-4: #442108;
    --orange-5: #522b0f;
    --orange-6: #61381c;
    --orange-7: #78492a;
    --orange-8: #9a5e36;
    --orange-9: #d97220;
    --orange-10: #cb6607;
    --orange-11: #fea368;
    --orange-12: #fbdecc;

    --orange-a1: #de000005;
    --orange-a2: #fd74120d;
    --orange-a3: #fb701923;
    --orange-a4: #fe5c0037;
    --orange-a5: #fe700a46;
    --orange-a6: #ff853256;
    --orange-a7: #fd914a6f;
    --orange-a8: #ff975293;
    --orange-a9: #fe8422d7;
    --orange-a10: #fe7d05c8;
    --orange-a11: #ffa468fe;
    --orange-a12: #ffe2cffb;

    --orange-contrast: #fff;
    --orange-surface: #291b1180;
    --orange-indicator: #d97220;
    --orange-track: #d97220;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --orange-1: oklch(17.8% 0.0094 52.94);
            --orange-2: oklch(20.7% 0.0147 52.94);
            --orange-3: oklch(25.6% 0.0371 52.94);
            --orange-4: oklch(29.2% 0.0641 52.94);
            --orange-5: oklch(33.4% 0.0705 52.94);
            --orange-6: oklch(38.5% 0.0717 52.94);
            --orange-7: oklch(45.2% 0.0782 52.94);
            --orange-8: oklch(54% 0.0961 52.94);
            --orange-9: oklch(65.9% 0.1553 52.94);
            --orange-10: oklch(61.9% 0.1553 52.94);
            --orange-11: oklch(79.6% 0.1321 52.94);
            --orange-12: oklch(91.9% 0.0405 52.94);

            --orange-a1: color(display-p3 0.9725 0 0 / 0.013);
            --orange-a2: color(display-p3 0.9882 0.4863 0.1529 / 0.047);
            --orange-a3: color(display-p3 1 0.5176 0.1647 / 0.122);
            --orange-a4: color(display-p3 1 0.4314 0.0078 / 0.194);
            --orange-a5: color(display-p3 0.9961 0.502 0.1294 / 0.253);
            --orange-a6: color(display-p3 1 0.5843 0.2706 / 0.311);
            --orange-a7: color(display-p3 1 0.6314 0.3686 / 0.404);
            --orange-a8: color(display-p3 1 0.6431 0.3843 / 0.543);
            --orange-a9: color(display-p3 1 0.5725 0.251 / 0.786);
            --orange-a10: color(display-p3 1 0.549 0.1961 / 0.727);
            --orange-a11: color(display-p3 1 0.6902 0.4706 / 0.942);
            --orange-a12: color(display-p3 0.9961 0.9059 0.8353 / 0.963);

            --orange-contrast: #fff;
            --orange-surface: color(display-p3 0.149 0.102 0.0706 / 0.5);
            --orange-indicator: oklch(65.9% 0.1553 52.94);
            --orange-track: oklch(65.9% 0.1553 52.94);
        }
    }
}

.extra-vision {
    border: 1px solid var(--orange-10);
    color: var(--orange-10);
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('/fonts/Trajan Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zalando Sans';
    src: url('/fonts/ZalandoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@theme {
    --font-trajan: "Trajan Pro", serif;
    --font-zalando: "Zalando Sans", sans-serif;
}

.radix-themes {
    /* Your custom default font */
    --default-font-family: var(--font-zalando);
    /* Your custom font for <Heading> components */
    --heading-font-family: var(--font-trajan);
    /* Your custom font for <Code> components */
    /* --code-font-family: var(--font-zalando);
    /* Your custom font for <Strong> components */
    /* --strong-font-family: var(--font-zalando); */
    /* Your custom font for <Em> components */
    /* --em-font-family: var(--font-zalando); */
    /* Your custom font for <Quote> components */
    /* --quote-font-family: var(--font-zalando); */
}